*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // defines what 1 rem should be (62.50% of 16px (root) = 10px)
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}
